extends layout

block content
  div(id='dCenter')
    h1 Check if your word is a palindrome!
    form(action="/", method="get")
      input(type="text", name="word")
      button(type="submit") CHECK

    if (!error && word)
      - var resText = (result ? '': 'not')
      h1 "#{word}" is #{resText} a palindrome
    else
      h1 #{error}
    #[span View this on] #[a(href="https://github.com/jensbodal/palindrome-webapp") Github]
