extends layout

block content
  div(id='dCenter')
    h1 Check if your word is a palindrome!
    form(action="/", method="get")
      input(type="text", name="word")
      button(type="button") TEST

    if !error
      - var resText = (result ? '': 'not')
      h1 "#{word}" is #{resText} a palindrome
    else 
      h1= error
